# binary files
asm6502
*.exe
*.o
*.zip
*.svp
/output

# ASM6502 output files
*.lst
*.bin

#packages
pkg/dist/bin
pkg/dist/doc
pkg/dist/examples
pkg/dist/support
pkg/dist/source

pkg/svardos/appinfo
pkg/svardos/devel
pkg/svardos/asm6502.svp


# misc project files
doc/asm6502.pdf
doc/asm6502.txt
doc/license.txt

# Pelles C
*.ppx
*.tag

# watcom files
*.mk
*.mk1
*.lk
*.lk1
*.map
*.obj

# Borland C++
*.dsk

# operating system stuff
.DS_Store
.syncthing*
*.swp

# Jetbrains CLion
/.idea
/cmake-build-debug/
/cmake-build-release/

# misc
/scratch

